<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se1.forumservice.domain.db.read.RForumMapper">
	<resultMap id="resultMap" type="com.se1.forumservice.domain.entity.Forum">
		<result column="forum_id" jdbcType="INTEGER" javaType="java.lang.Integer" property="forumId"/>
		<result column="forum_name" jdbcType="VARCHAR" javaType="java.lang.String" property="forumName"/>
		<result column="forum_slug" jdbcType="VARCHAR" javaType="java.lang.String" property="forumSlug"/>
		<result column="forum_parent" jdbcType="INTEGER" javaType="java.lang.Integer" property="forumParent"/>
		<result column="forum_parent_name" jdbcType="VARCHAR" javaType="java.lang.String" property="forumParentName"/>
		<result column="validFlg" jdbcType="TINYINT" javaType="java.lang.Byte"  property="validFlg"/>
		<result column="createAt" jdbcType="TIMESTAMP" javaType="java.util.Date" property="createAt"/>
		<result column="updateAt" jdbcType="TIMESTAMP" javaType="java.util.Date" property="updateAt"/>
	</resultMap>
	
	<select id="getAllForumParent" resultMap="resultMap">
	
		SELECT *
		FROM db03.forum
		WHERE forum_parent in (
			SELECT forum_id 
			FROM db03.forum 
			WHERE isnull(forum_parent) AND valid_flg = 1
		) AND valid_flg = 1
	
	</select>
	
	<select id="findById" resultMap="resultMap">
	
		SELECT *
		FROM db03.forum
		WHERE forum_id = #{forumId} AND valid_flg = 1
	
	</select>
	
	<select id="findForumByForumParent" resultMap="resultMap">
	
		SELECT *
		FROM db03.forum
		WHERE forum_parent = #{forumParent} AND valid_flg = 1
	
	</select>
</mapper>